<%- include('partials/header') -%>

    <h2>compose</h2>
    <form action="/compose" method="post" class="form-group">
        <label for="">postTitle</label>
        <input type="text" name="postTitle" class="form-control">
        <label for="">postPage</label>
        <textarea name="postText" id="" cols="30" rows="10" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary">submit</button>


    </form>

    <%- include('partials/footer') -%>